<div class="details-header">Product Details</div>
<mat-card class="details-card">
    <mat-card-title class="details-card__title">{{product?.name}}</mat-card-title>
    <mat-card-subtitle class="details-card__subtitle">{{product?.types}}</mat-card-subtitle>
    <mat-card-content class="details-card__content">
      <p><span class="card__item">Date of creation:</span> {{product?.createdDate | dateFix | date}}</p>
      <p><span class="card__item">Expire date:</span> {{product?.expireDate | dateFix | date }}</p>
      <p><span class="card__item">Description:</span> {{product?.description}}
      <p><span class="card__item">Proteins:</span> {{product?.proteins}}g</p>
      <p><span class="card__item">Carbohydrates:</span> {{product?.carbohydrates}}g</p>
      <img width="300" height="300" class="card__image" src='{{product?.image}}' alt="">
    </mat-card-content>
    <mat-card-actions class="details-card__buttons">
      <button [routerLink]="['../update']" mat-button>Update</button>
      <button [routerLink]="['../../all']" mat-button>Back</button>
    </mat-card-actions>
  </mat-card>
