.create-form {
    width: 400px;
    border: 1px solid #673ab7;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto 0;
    padding: 20px;

    &__field {
        width: 100%;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }
    &__upload {
      margin: 10px 0;
    }
}
