.create-form {
    width: 400px;
    border: 1px solid #673ab7;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto 0;
    padding: 20px;

    &__field {
        width: 100%;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
    }
}
.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.input__file-button-text {
  margin: 0 auto;
}

.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #8151de;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}
.input__status {
  color: #2aac8c;
  font-size: 24px;
  font-weight: bold;
}
