<form class="create-form" [formGroup]="productForm" (submit)="submit()">
  <div>
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Name</mat-label>
      <input matInput autocomplete="off" formControlName="name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Product type</mat-label>
      <mat-select formControlName="types">
        <mat-option value="{{ Types.Groats }}">{{ Types.Groats }}</mat-option>
        <mat-option value="{{ Types.Milk }}">{{ Types.Milk }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Date of Creation</mat-label>
      <input matInput [matDatepicker]="create" formControlName="createdDate" />
      <mat-datepicker-toggle matSuffix [for]="create"></mat-datepicker-toggle>
      <mat-datepicker #create></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Expire date</mat-label>
      <input matInput [matDatepicker]="expire" formControlName="expireDate" />
      <mat-datepicker-toggle matSuffix [for]="expire"></mat-datepicker-toggle>
      <mat-datepicker #expire></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Proteins</mat-label>
      <input matInput autocomplete="off" formControlName="proteins" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Carbs</mat-label>
      <input matInput autocomplete="off" formControlName="carbohydrates" />
    </mat-form-field>
  </div>
  <div class="form-buttons">
    <mat-form-field appearance="fill" class="create-form__field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div class="create-form__buttons">
    <button
      mat-stroked-button
      (click)="showMessage()"
      [disabled]="productForm.invalid"
      class="create-form__button"
      type="submit"
      color="primary"
    >
      Save
    </button>
    <button
      class="create-form__button"
      mat-stroked-button
      color="warn"
      [routerLink]="['/products']"
      type="button"
    >
      Cancel
    </button>
  </div>
</form>