<ul class="wrapper">
    <li class="product" *ngFor="let product of products">
        <span class="product__param">{{product.id}}</span>
        <span class="product__param">{{product.name}}</span>
        <span class="product__param">{{product.createdDate | date: 'mediumDate'}}</span>
        <span class="product__param">{{product.expireDate | date: 'mediumDate'}}</span>

        <a [routerLink]="['../', product.id, 'update']">Update</a>
        <a [routerLink]="['../', product.id, 'read']">Details</a>
        <a [routerLink]="['../', product.id, 'delete']">Delete</a>
    </li>
</ul>

<button [routerLink]="['../', 'add']" type="button">Create product</button>